[Unit]
Description=tunneldigger tunnelling network daemon using l2tpv3
After=network.target auditd.service babeld.service

[Service]
Type=simple
WorkingDirectory=/opt/tunneldigger
ExecStart=<tunnel_start>
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
