[Unit]
Description=babeld
After=network.target auditd.service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/babeld -F -S /var/lib/babeld/state -c /etc/babeld.conf -I
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
