[Unit]
Description=babeld
After=network.target auditd.service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/babeld -S /var/lib/babeld/state -c /etc/babeld.conf
KillMode=process
Restart=on-failure
PIDFile=/var/run/babeld.pid

[Install]
WantedBy=multi-user.target
