[Unit]
Description=babeld-monitor
After=network.target auditd.service

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/bin/bash -c 'PATH=/opt/mesh-tools/:$PATH /opt/babeld-monitor/babeld-monitor.sh'

[Install]
WantedBy=multi-user.target
